$dark-green:#198754;
$green: #AFCA0B;
$dark-blue: #000116;
$dark-grey: #434343;
$grey: #D1D1D1;
$litegrey: #F1F1F1;
$white: #FFFFFF;
$black: #000000;

$verbLight: "VerbLight", helvetica, arial, sans-serif;
$verbRegular: "VerbRegular", helvetica, arial, sans-serif;
$verbMedium: "VerbMedium", helvetica, arial, sans-serif;
$verbBold: "VerbExtrabold", helvetica, arial, sans-serif;

$monitor: "(min-width: 1601px)";
$desktop: "(min-width:1081px)";
$tablet: "(max-width: 1500px)";
$mobileLG: "(max-width: 1080px)";
$mobileMD: "(max-width: 990px)";
$mobile: "(max-width: 667px)";

$font-size-std: 18px;
$line-height-std: 1.5;
